html,body{
  height: 90%;
}

p{
  font-weight: 800;
  font-size: 40px;
}

.flex-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#ui-container{
  width: 400px;
  height: 450px;
}

#loading-animation {
  margin: 85px;
}

#temp{
  align-self: center;
}

#weather-description{
  display: inline;
  text-align: right;
  margin-left: 10px;

}

#weather-container{
  width: 80%;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
}

  #weather-img{
  font-size: 100px;
}
